@charset "utf-8";

.skipNavi li a {position:fixed;top:-100px;left:0;width:100%;padding:10px 0;background:#bf91f3;color:#fff;text-align:center;z-index:100;}
.skipNavi li a:focus {top:0;}
.main .skipNavi li.side {display:none;}

#header {position:relative;border-bottom:3px solid #bf91f3;}
#header .headerInner {position:relative;width:1000px;margin:0 auto;}
#header .headerInner:after {content:"";display:block;clear:both;}
#header h1 {position:absolute;top:0;left:0;bottom:0;line-height:1;}
#header h1:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
#header h1 a {display:inline-block;vertical-align:middle;}
#header h1 img {width:155px;}
#header .gnb {float:left;padding:0 0 0 280px;}
#header .gnb li {display:inline-block;margin-left:56px;padding:34px 0 35px;line-height:1;}
#header .gnb li:first-child {margin:0;}
#header .gnb a {color:#222;font-size:20px;}
#header .gnb li.active a {color:#bf91f3;}
#header .util {float:right;margin:28px 0 0;}
#header .fontCtrl,
#header .headerSitemap {display:inline-block;color:#888;}
#header .headerSitemap a {display:block;padding:7px 18px;color:#888;border:1px solid #e7e7e7;line-height:1;font-size:15px;}

.subPageTop {height:153px;padding:36px 0 0;}
.subPageTopInner {position:relative;width:440px;height:118px;margin:0 auto;text-align:center;}
.subPageTopInner:before {content:"";position:absolute;top:0;right:0;bottom:0;left:0;border:1px solid #000;opacity:.2;}
.subPageTopInner:after {content:"";position:absolute;top:-11px;left:30px;width:13px;height:37px;background:#fdc000;}
.subPageTopInner p {padding:25px 0 20px;font-size:10px;letter-spacing:4px;color:#999;line-height:1;}
.subPageTopInner h2 {color:#111;font-size:36px;line-height:1;}
.subPageTopInner h2:before {content:"";position:absolute;top:14px;left:19px;border:12px solid transparent;border-right:12px solid #fdc000;}
.subCate1 {background:url(../../images/front/img_sub_visual01.jpg) no-repeat 50% 50%;background-size:cover;}
.subCate2 {background:url(../../images/front/img_sub_visual02.jpg) no-repeat 50% 50%;background-size:cover;}
.subCate3 {background:url(../../images/front/img_sub_visual03.jpg) no-repeat 50% 50%;background-size:cover;}
.subCate4 {background:url(../../images/front/img_sub_visual04.jpg) no-repeat 50% 50%;background-size:cover;}
.subCate5 {background:url(../../images/front/img_sub_visual05.jpg) no-repeat 50% 50%;background-size:cover;}

.breadcrumb {height:42px;background:#fafafa;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.breadcrumbInner {width:1000px;margin:0 auto;padding:14px 0;line-height:1;}
.breadcrumb .home {display:inline-block;width:14px;height:15px;background:url(../../images/front/img_home.gif) no-repeat;font:0/0 a;vertical-align:middle;}
.breadcrumb span, .breadcrumb strong {display:inline-block;padding-left:15px;margin-left:10px;background:url(../../images/front/img_breadcrumb_arrow.gif) no-repeat 0 50%;color:#333;vertical-align:middle;}
.breadcrumb strong {font-weight:bold;}
.breadcrumb .mob {display:none;}

#container {width:1000px;margin:0 auto;}
#container:after {content:"";display:block;clear:both;}

#snb {float:left;width:220px;outline:0 none;}
#snb .cateTitle {margin:0 0 14px;padding:60px 0 17px;font-size:24px;font-weight:bold;color:#222;line-height:1;border-bottom:3px solid #bf91f3;}
#snb .snbNav > ul > li {border-bottom:1px solid #e0e0e0;}
#snb .snbNav > ul > li > a {display:block;padding:14px 0 14px 20px;line-height:1;color:#626262;}
#snb .snbNav > ul > li.active > a {background:url(../../images/front/img_snb_active_arrow.gif) no-repeat 90% 50%;color:#333;font-weight:bold;}
#snb .snbNav button {position:relative;width:100%;padding:14px 0 14px 20px;line-height:1;color:#626262;text-align:left;}
#snb .snbNav button:after {content:"";position:absolute;top:50%;right:18px;width:11px;height:8px;margin-top:-4px;background:url(../../images/front/img_snb_sub_arrow.gif) no-repeat;}
#snb .snbNav > ul > li ul {display:none;padding:10px 0 10px 22px;background:#fafafa;border-top:1px solid #e0e0e0;}
#snb .snbNav > ul > li li a {padding:0 0 0 7px;background:url(../../images/front/bul_snb_sub_dot.gif) no-repeat 0 50%;color:#626262;font-size:13px;}
#snb .snbNav > ul > li li.active a {color:#bf91f3;}
#snb .snbNav > ul > li.open ul {display:block;}
#snb .snbNav > ul > li.open button:after {background-position:0 100%;}

#contents {float:right;width:730px;padding:60px 0 0;outline:0 none;}

#footer {margin:100px 0 0;border-top:1px solid #dedede;}
#footer .footerLink {width:1000px;margin:0 auto;}
#footer .footerLink:after {content:"";display:block;clear:both;}
#footer .footerLink nav {float:left;}
#footer .footerLink nav > span {float:left;margin:15px 0;padding-right:19px;font-size:15px;line-height:1;}
#footer .footerLink nav > span + span {padding-left:19px;border-left:1px solid #dedede;}
#footer .footerLink .siteLink {position:relative;float:right;}
#footer .footerLink .siteBtn {display:block;border-right:1px solid #dedede;border-left:1px solid #dedede;}
#footer .footerLink .siteBtn:after {content:"";position:absolute;top:50%;right:18px;width:12px;height:8px;margin-top:-4px;background:url(../../images/front/icon_footer_site_arrrow.gif) no-repeat;}
#footer .footerLink .siteBtn button {width:248px;padding:15px 0 15px 19px;font-size:15px;line-height:1;text-align:left;}
#footer .footerLink .siteList {display:none;position:absolute;left:0;bottom:0;right:0;padding:15px 0;background:#fff;border:1px solid #dedede;z-index:2;}
#footer .footerLink .siteList li + li {margin-top:10px;}
#footer .footerLink .siteList a {display:block;padding:0 0 0 19px;line-height:1;}
#footer .footerInfo {padding:25px 0 57px;background:#f6f6f4;border-top:1px solid #dedede;}
#footer .footerInfo .footerInfoInner {position:relative;width:1000px;margin:0 auto;}
#footer .footerInfo .footLogo {position:absolute;top:0;left:0;}
#footer .footerInfo .footInfoTxt {margin:0 0 0 250px;}
#footer .footerInfo .footInfoTxt > span {display:inline-block;padding:0 6px 0 9px;border-left:1px solid #dedede;line-height:1;}
#footer .footerInfo .footInfoTxt > span:first-child {padding-left:0;border:0;}
#footer .footerInfo .footInfoTxt small {display:block;font-size:14px;}
#footer .footerInfo .footInfoTxt small span {color:#233a7b;}

/* main */
.main #container, .main #contents {width:auto;float:none;padding-top:0;}
.mainTop {height:480px;background:url(../../images/front/img_main_visual.jpg) no-repeat 50% 0;border-bottom:1px solid #dfe4ee;}
.mainTop h1 {width:1000px;margin:0 auto;padding:70px 0 0;}
.mainTop .eng {display:block;width:400px;margin:0 0 25px;padding:0 0 15px;border-bottom:1px solid #a8a8a8;color:#999;font-size:12px;font-family:notoB;letter-spacing:3px;}
.mainTop .txt1, .mainTop .txt2 {display:block;color:#222;font-size:48px;line-height:1.2;}
.mainTop .txt2 {font-family:notoB;}
.mainTop .link {display:block;width:230px;margin:85px 0 0;border:2px solid #666;color:#333;font-size:20px;line-height:2.5;text-align:center;}

.mainContents {position:relative;width:1000px;margin:40px auto;}
.mainContents .mainLinkGroup1,
.mainContents .mainLinkGroup2 {display:inline-block;width:485px;margin:0 0 0 515px;}
.mainContents .mainLinkGroup2 {margin:20px 0 25px 515px;}
.mainContents .mainLinkGroup3 {background:#f2f1ed;border:1px solid #e9e9e9;}

.mainLinkGroup1 > span {float:left;width:162px;}
.mainLinkGroup1 a {display:block;padding:140px 0 30px;text-align:center;color:#333;font-size:18px;line-height:1;}
.mainLinkGroup1 .item1 {width:161px;}
.mainLinkGroup1 .item1 a {background:#f3da8b url(../../images/front/icon_main_link01.gif) no-repeat 50% 40%;}
.mainLinkGroup1 .item2 a {background:#d8b29d url(../../images/front/icon_main_link02.gif) no-repeat 50% 40%;}
.mainLinkGroup1 .item3 a {background:#dec5fb url(../../images/front/icon_main_link03.gif) no-repeat 50% 40%;}

.mainLinkGroup2 > span {float:left;width:235px;border:1px solid #e9e9e9;}
.mainLinkGroup2 .item2 {float:right;}
.mainLinkGroup2 a {display:block;padding:36px 0 36px 78px;line-height:1;background:url(../../images/front/icon_main_link04.gif) no-repeat;color:#000;font-size:20px;}
.mainLinkGroup2 .item2 {background:url(../../images/front/icon_main_link06.gif) no-repeat 100% 0;}
.mainLinkGroup2 .item2 a {background:url(../../images/front/icon_main_link05.gif) no-repeat;}
.mainLinkGroup2 a span {display:inline-block;padding-right:28px;background:url(../../images/front/icon_main_link07.gif) no-repeat 100% 50%;}

.mainLinkGroup3 {display:inline-block;width:100%;}
.mainLinkGroup3 span {position:relative;float:left;width:25%;}
.mainLinkGroup3 span + span:after {content:"";position:absolute;top:50%;width:1px;height:24px;margin-top:-12px;background:#d2d3d2;}
.mainLinkGroup3 a {display:block;padding:30px 0;font-size:18px;line-height:1;color:#000;}
.mainLinkGroup3 .item1 a {padding-left:125px;background:url(../../images/front/icon_main_link08.gif) no-repeat 31% 50%;}
.mainLinkGroup3 .item2 a {padding-left:90px;background:url(../../images/front/icon_main_link09.gif) no-repeat 13% 50%;}
.mainLinkGroup3 .item3 a {padding-left:105px;background:url(../../images/front/icon_main_link10.gif) no-repeat 20% 50%;}
.mainLinkGroup3 .item4 a {padding-left:105px;background:url(../../images/front/icon_main_link11.gif) no-repeat 20% 50%;}

.mainTabContents {position:absolute;top:0;left:0;width:457px;padding:14px 15px;background:#eee;}
.mainTabContents .tabMenu {width:100%;overflow:hidden;}
.mainTabContents .tabMenu li {float:left;width:50%;}
.mainTabContents .tabMenu a {display:block;padding:15px 0;background:#eee;border:1px solid #eee;border-bottom:0;color:#666;text-align:center;font-size:20px;line-height:1;}
.mainTabContents .tabMenu .active a {position:relative;background:#fff url(../../images/front/icon_tab_active.gif) no-repeat 95% 50%; border-color:#ddd;color:#111;text-decoration:underline;z-index:2;}
.mainTabContents .tabContent {position:relative;display:none;min-height:225px;margin:-1px 0 0;background:#fff;border:1px solid #ddd;}
.mainTabContents .mainList {padding:25px 30px;}
.mainTabContents .mainList li + li {margin-top:24px;}
.mainTabContents .mainList a {position:relative;display:block;padding:0 105px 0 7px;background:url(../../images/front/bul_circle.gif) no-repeat 0 50%;font-size:16px;line-height:1;}
.mainTabContents .mainList .txt {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.mainTabContents .mainList .date {position:absolute;top:0;right:0;color:#999;}

/* title */
.pageTitle {margin:0 0 40px;color:#bf91f3;font-size:36px;line-height:1;}
.subTitle {margin:0 0 20px;padding-left:20px;color:#333;background:url(../../images/front/bul_sub_title.gif) no-repeat 0 50%;font-size:20px;font-weight:bold;line-height:1.2;}

.pageDesc {margin:-30px 0 40px;font-size:15px;color:#626262;}

/* section */
.subSection + .subSection {margin:55px 0 0;}

/* list */
.bulDot > li,
.bulDotTxt {padding-left:9px;background:url(../../images/front/bul_dot.gif) no-repeat 0 10px;font-size:16px;}
.bulDot > li + li {margin-top:10px;}

.bulDash > li,
.bulDashTxt {padding-left:6px;background:url(../../images/front/bul_dash.gif) no-repeat 0 8px;font-size:14px;}

.numList li {position:relative;padding-left:18px;font-size:16px;}
.numList li .num {position:absolute;top:0;left:0;color:#bf91f3;}
.numList li + li {margin:5px 0 0;}

/* box */
.boxType1 {padding:20px;background:#fafafa;border:4px solid #f2f2f2;}

/* tabmenu */
.tabMenu:after {content:"";display:block;clear:both;}
.tabMenu li {float:left;}
.tabMenu li a {display:block;padding:19px 0;margin:0 -1px;background:#efefef;border:1px solid #dbdbdb;color:#4d4d4d;font-size:18px;line-height:1;text-align:center;font-weight:bold;}
.tabMenu li.active a {background:#fdc000;color:#333;}
.tabMenu .tabItem2 li {width:50%;}
.tabMenu .tabItem3 li {width:33.33%;}
.tabMenu .tabItem4 li {width:25%;}
.tabMenu .tabItem5 li {width:20%;}

/* txt */
.tipTxt {margin-top:15px;text-align:right;font-size:13px;}

/* color */
.fontColor1 {color:#bf91f3;}

/* table */
.infoTable {border-top:1px solid #474e61;}
.infoTable th,
.infoTable td {padding:10px;border-bottom:1px solid #e3e3e3;border-left:1px solid #e3e3e3;}
.infoTable th {background:#fafafa;}
.infoTable th:first-child,
.infoTable td:first-child {border-left:0;}
.infoTable thead th {border-bottom:1px solid #e3e3e3;}
.infoTable tbody th {padding-left:20px;text-align:left;}
.infoTable table .line {border-left:1px solid #e3e3e3;}
.infoTable table .center {text-align:center;} 
.infoTable table .left {text-align:left;}
.typeWrite td {padding:7px 9px;}
.typeWrite .errorTxt {display:inline-block;margin:0 0 0 10px;color:#e95c5c;font-size:13px;}
.typeWrite .tip {display:inline-block;margin:0 0 0 10px;padding:0 0 0 18px;background:url(../../images/front/icon_mark.gif) no-repeat 0 50%;font-size:13px;}

/* bbs */
.bbsSearch {text-align:right;}
.bbsSearch select {min-width:130px;height:30px;border:1px solid #ccc;color:#333;font-size:13px;vertical-align:middle;}
.bbsSearch .inpuTxt {position:relative;display:inline-block;padding:0 36px 0 5px;height:28px;border:1px solid #ccc;vertical-align:middle;}
.bbsSearch .inpuTxt input[type="text"] {width:160px;height:100%;border:0;font-size:13px;}
.bbsSearch .inpuTxt .btnSearch {position:absolute;top:0;right:0;width:36px;height:28px;background:url(../../images/front/btn_search.gif) no-repeat;font:0/0 a;}

.bbsSearch ~ .bbsList {margin:10px 0 0;}
.bbsList {position:relative;border-bottom:1px solid #e3e3e3;}
.bbsList:before {content:"";display:block;height:44px;background:#fafafa;}
.bbsList:after {content:"";position:absolute;top:0;right:0;left:0;height:44px;z-index:2;}
.bbsList {border-top:1px solid #474e61;}
.bbsList li {border-top:1px solid #e3e3e3;}
.bbsList li a {display:table;width:100%;padding:10px 0;table-layout:fixed;}
.bbsList li a:hover {background:#f9fbff;}
.bbsList li a > span {display:table-cell;position:relative;text-align:center;}
.bbsList li a > span:before {display:none;content:"";position:absolute;top:-43px;right:0;left:0;color:#444;}
.bbsList li:first-child a > span:before {display:inline;}
.bbsList li a > span.subject {padding-left:10px;text-align:left;}
.bbsList li a > span.subject .txt {display:inline-block;max-width:85%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.bbsList [class*="bbsIcon"] {display:inline-block;margin-left:5px;font:0/0 a;vertical-align:middle;}
.bbsList .bbsIconNew {width:15px;height:15px;background:url(../../images/front/icon_new.png) no-repeat;}
.bbsList .bbsIconFile {width:13px;height:15px;background:url(../../images/front/icon_file.png) no-repeat;}
.bbsList li a > span.no:before {content:"NO";}
.bbsList li a > span.subject:before {content:"제목";padding-left:80px;}
.bbsList li a > span.date:before {content:"작성일";}
.bbsList li a > span.view:before {content:"조회";}

.bbsPassLayer {display:none;position:absolute;top:50%;left:50%;width:210px;height:165px;margin:-80px 0 0 -125px;padding:0 20px;background:#fff;border:1px solid #787878;text-align:center;}
.bbsPassLayer .bbsPassTit {display:block;padding:30px 0 15px;color:#222;font-size:18px;line-height:1;}
.bbsPassLayer .inpuTxt {width:180px;text-align:center;}
.bbsPassLayer .btnWrap {margin-top:10px;}

.bbsView {border-top:1px solid #474e61;border-bottom:1px solid #e8e8e8;}
.bbsView .bbsViewTitle {padding:15px 0 15px 18px;font-size:18px;}
.bbsView .bbsViewInfo {display:table;width:100%;table-layout:fixed;}
.bbsView .bbsViewInfo dt,
.bbsView .bbsViewInfo dd {display:table-cell;padding:12px 0 12px 10px;border-top:1px solid #e8e8e8;border-left:1px solid #e8e8e8;vertical-align:middle;color:#999;}
.bbsView .bbsViewInfo dt {width:125px;padding-left:20px;background:#fafafa;color:#444;font-weight:bold;}
.bbsView .bbsViewInfo dt:first-child {border-left:0;}
.bbsReply .file a,
.bbsView .bbsViewInfo .file a {display:block;margin:5px 0;padding-left:18px;background:url(../../images/front/icon_file.png) no-repeat 0 50%;}
.bbsReply .file a span,
.bbsView .bbsViewInfo .file a span {color:#b4b4b4;}
.bbsView .bbsContent {padding:25px 20px 50px;border-top:1px solid #e8e8e8;}

.bbsReply {margin:50px 0 0;}
.bbsReply .bbsReplyTitle {position:relative;margin:0 0 10px;padding-left:17px;color:#333;font-size:15px;line-height:1;font-weight:bold;}
.bbsReply .bbsReplyTitle:before {content:"";position:absolute;left:0;top:2px;width:4px;height:4px;border:2px solid #d9d9d9;border-top:0;border-right:0;}
.bbsReply .bbsReplyTitle span {font-size:14px;color:#999;font-weight:normal;}

.pagination {margin:30px 0 0;text-align:center;}
.pagination [class*="page"] {width:30px;height:30px;border:1px solid #e8e8e8;font:0/0 a;}
.pagination .pageStart {background:url(../../images/front/btn_pagination_start.gif) no-repeat;}
.pagination .pagePrev {background:url(../../images/front/btn_pagination_prev.gif) no-repeat;}
.pagination .pageNext {background:url(../../images/front/btn_pagination_next.gif) no-repeat;}
.pagination .pageEnd {background:url(../../images/front/btn_pagination_end.gif) no-repeat;}
.pagination .paging {display:inline-block;margin:0 10px;font-size:15px;}
.pagination .paging strong {display:inline-block;margin:0 6px;line-height:30px;color:#bf91f3;text-decoration:underline;vertical-align:middle;}
.pagination .paging button {height:30px;margin:0 6px;vertical-align:middle;}
.pagingLength {display:none;}

/* btn */
.btnWrap {margin:30px 0 0;text-align:center;}
.btnWrap:after {content:"";display:block;clear:both;}
.btnWrap .btnLeft {float:left;}
.btnWrap .btnRight {float:right;}

[class*="btnType"] {display:inline-block;padding:5px 18px 4px;font-size:13px;vertical-align:middle;}
.btnType1 {border:1px solid #747474;color:#444;}
.btnType2 {border:1px solid #bf91f3;background:#bf91f3;color:#222;}